<div *ngIf="verificarSesion()">
  <header>
    <div class="logo">
      <a><img src="assets/logouleam.png" alt="Logo de la empresa"></a>
    </div>
    <nav class="items">
      <ul>
        <li><a routerLink="/facultades">Facultades</a></li>
      </ul>
    </nav>
    <div class="search-bar">
      <form>
        <input type="search" placeholder="Buscar Edificio...">
        <button type="submit">Buscar</button>
      </form>
    </div>
    <nav class="items">
      <ul>
        <li><a>Activos Fijos</a>
          <ul>
            <li><a routerLink="/edificios-estructuras">Edificios y estructuras</a></li>
            <li><a routerLink="/equipamiento-mobiliario">Equipamiento y mobiliario</a></li>
            <li><a routerLink="/vehiculos">Vehículos</a></li>
            <li><a routerLink="/tecnologia">Tecnología</a></li>
          </ul>
        </li>
        <li><a>{{ usuarioAutenticado.nombreCompleto }}</a>
          <ul>
            <li><a routerLink="/configuracion">Configuración</a></li>
            <li><a (click)="cerrarSesion()">Salir</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
</div>

