
/* Estilos para el header */
header {
  display: flex;
  align-items: center;
  background-color: #89d87f;
  height: 80px;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para el logo */
.logo {
  max-width: 200px; /* Establece el ancho máximo de la imagen en 200 píxeles */
}

.logo img {
  height: 100%;
  width: 100%;
}

/* Estilos para la barra de búsqueda */
.search-bar {
  margin: 0 20px;
  flex-grow: 1; /* Añade esta línea para que ocupe todo el espacio disponible */
}

.search-bar form {
  display: flex;
}

.search-bar input[type="search"] {
  border: none;
  flex-grow: 1; /* Añade esta línea */
  border-radius: 3px;
  padding: 8px;
  font-size: 16px;
  background-color: #ffffff;
}



.search-bar button[type="submit"] {
  background-color: #ddd;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 0px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
  color: black;
}

/* Estilos para el menú */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  font-family: "Times New Roman", Times, serif;

}

nav > ul > li {
  display: inline-block;
  position: relative;

}
nav ul li:hover > a {
  background-color: #4CAF50; /* Establece un fondo cuando se pasa el cursor sobre un elemento de lista principal */
}

nav > ul > li > a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
}


nav > ul > li:hover > ul {
  display: block;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

nav ul ul li {
  display: block;
}

nav ul ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
}

nav ul ul li a:hover {
  background-color: #f7f7f7;
  color: red;
}