<app-inicio-usuario></app-inicio-usuario>
<div class="EDITAR-USUARIO">
  <form (ngSubmit)="validarRes()">
    <h1><img src="assets/USUARIO.png" alt="nombre de la imagen">Configuración Cuenta</h1>
    <label for="opcion">Seleccione una opción:</label>
    <select id="opcion" name="opcion" #opcion>
      <option value="usuario">Editar usuario</option>
      <option value="contra">Editar contraseña</option>
      <option value="nombrescompletos">Editar nombres y apellidos</option>
      <option value="email">Editar correo electrónico</option>
      <option value="telefono">Editar teléfono</option>
      <option value="direccion">Editar dirección</option>
    </select>
    <div id="campo-usuario" style="display:none;">
      <input type="text" name="usuario" placeholder="Nuevo usuario" #campoUsuario>
    </div>
    <div id="campo-contra" style="display:none;">
      <input type="password" name="contra" placeholder="Nueva contraseña" #campoContra>
    </div>
    <div id="campo-nombrescompletos" style="display:none;">
      <input type="text" name="nombrescompletos" placeholder="Nuevos nombres y apellidos" #campoNombresCompletos>
    </div>
    <div id="campo-email" style="display:none;">
      <input type="email" name="email" placeholder="Nuevo correo electrónico" #campoEmail>
    </div>
    <div id="campo-telefono" style="display:none;">
      <input type="tel" name="telefono" placeholder="Nuevo teléfono" #campoTelefono>
    </div>
    <div id="campo-direccion" style="display:none;">
      <input type="text" name="direccion" placeholder="Nueva dirección" #campoDireccion>
    </div>
    <input type="submit" name="register">
  </form>
</div>
