<app-inicio-usuario></app-inicio-usuario>
<div class="contenedor-cuadros">
    <div class="cuadro">
    <h2><a href="FACULTAD.php">FACULTAD CIENCIAS DE LA SALUD</a></h2>
    <img src="assets/CIENCIASDELASALUD.png" alt="Imagen de  salud" class="imagen-facultades">
      <ul>
        <li>Medicina</li>
        <li>Odontología</li>
        <li>Enfermería</li>
        <li>Fisioterapia</li>
        <li>Fonoaudiología</li>
        <li>Laboratorio Clínico</li>
        <li>Terapia Ocupacional</li>
        <li>Psicología</li>
      </ul>
    </div>
    <div class="cuadro">
      <h2><a href="#">FACULTAD CIENCIAS ADMINISTRATIVAS, CONTABLES Y COMERCIO</a></h2>
      <img src="assets/CONTABLESYCOMERCIO.png" alt="Imagen de  salud" class="imagen-facultades">
      <ul>
        <li>Administración de Empresas</li>
        <li>Mercadotecnia</li>
        <li>Contabilidad y Auditoria</li>
        <li>Auditoria y Control de Gestión</li>
        <li>Finanzas</li>
        <li>Comercio Exterior</li>
        <li>Gestión de Información Gerencial</li>
      </ul>
    </div>
    <div class="cuadro">
      <h2><a href="#">FACULTAD DE EDUCACIÓN TURISMO ARTES Y HUMANIDADES</a></h2>
      <img src="assets/EDUCACIONTURISMOARTES YHUMANIDADES.png" alt="Imagen de  salud" class="imagen-facultades">
      <ul>
        <li>Educación Inicial</li>
        <li>Educación Especial</li>
        <li>Psicología Educativa</li>
        <li>Educación Básica</li>
        <li>Pedagogía de la Actividad Física y el Deporte</li>
        <li>Pedagogía de la Lengua y la Literatura </li>
        <li>Pedagogía de los Idiomas Nacionales y Extranjeros</li>
        <li>Turismo</li>
        <li> Hospitalidad y Hotelería</li>
        <li>Artes Plásticas</li>
        <li>Sociología</li>
      </ul>
    </div>
    <div class="cuadro">
      <h2><a href="#">FACULTAD INGENIERÍA, INDUSTRIA Y CONSTRUCCIÓN</a></h2>
      <img src="assets/INDUSTRIAYCONSTRUCCION.png" alt="Imagen de  salud" class="imagen-facultades">
      <ul>
        <li>Ingenieria Civil</li>
        <li>Ingenieria Marítima</li>
        <li>Electricidad</li>
        <li>Arquitectura</li>
        <li>Ingeniería Industrial</li>
        <li>Ingeniería de Alimentos</li>
      </ul>
    </div>
    <div class="cuadro">
      <h2><a href="#">FACULTAD CIENCIAS DE LA VIDA Y TECNOLOGÍAS</a></h2>
      <img src="assets/CIENCIASDELAVIDAYTECNOLOGÍAS.png" alt="Imagen de  salud" class="imagen-facultades">
      <ul>
        <li>Ingeneria Agropecuaria</li>
        <li>Agronegocios</li>
        <li>Ingenieria Agroindustrial</li>
        <li>Ingeniería Ambiental</li>
        <li>Ingeniería en Tecnologías de la información</li>
        <li>Ingenieria en Software</li>
        <li>Ingeniería en Sistema</li>
        <li>Biología</li>
      </ul>
    </div>
    <div class="cuadro">
      <h2><a href="#">FACULTAD CIENCIAS SOCIALES DERECHO Y BIENESTAR</a></h2>
      <img src="assets/CIENCIAS SOCIALES DERECHO Y BIENESTAR.png" alt="Imagen de  salud" class="imagen-facultades">
      <ul>
        <li>Derecho</li>
        <li>Economía</li>
        <li>Trabajo Social</li>
        <li>Comunicación</li>
      </ul>
    </div>
  </div>